<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8" />
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link rel="stylesheet" href="css/index.css" />
   <title>MTSdev</title>
</head>

<body>
   <div class="root-element">
      <nav>
         <div class="logo">
            <h1>startbox</h1>
         </div>

         <ul class="nav-list">
            <li>
               <a href="">Home</a>
               <div class="dropdown-menu">
                  <ul>
                     <li>teg</li>
                     <li>teg</li>
                     <li>teg</li>
                     <li>teg</li>
                     <li>teg</li>
                     <li>teg</li>
                  </ul>
               </div>
            </li>
            <li><a href="">Services</a></li>
            <li><a href="">Pages</a></li>
            <li><a href="">Potfolio</a></li>
            <li><a href="">Blog</a></li>
            <li><a href="">Contact</a></li>
         </ul>
      </nav>
      <header>
         <div class="header">
            <h1>
               <span>Open the Start box </span>Now.<br>
               Bulid your future.
            </h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea in corporis iure rerum quidem minus, neque
               expedita velit nostrum facilis obcaecati quae iusto eveniet voluptatem eius ullam voluptatibus ab at!</p>
         </div>
      </header>

      <main>
         <div class="container">
            <section class="fullcrous">
               <div class="grid-box">
                  <a href="">
                     <div class="box-container">
                        <div class="box-container">
                           <img src="img/img.jpg" alt="">
                           <h4>Main Corporate</h4>
                        </div>
                     </div>
                  </a>
                  <a href="">
                     <div class="box-container">
                        <div class="box-container">
                           <img src="img/img.jpg" alt="">
                           <h4>Main Corporate</h4>
                        </div>
                     </div>
                  </a>
                  <a href="">
                     <div class="box-container">
                        <div class="box-container">
                           <img src="img/img.jpg" alt="">
                           <h4>Main Corporate</h4>
                        </div>
                     </div>
                  </a>
                  <a href="">
                     <div class="box-container">
                        <div class="box-container">
                           <img src="img/img.jpg" alt="">
                           <h4>Main Corporate</h4>
                        </div>
                     </div>
                  </a>
                  <a href="">
                     <div class="box-container">
                        <div class="box-container">
                           <img src="img/img.jpg" alt="">
                           <h4>Main Corporate</h4>
                        </div>
                     </div>
                  </a>
                  <a href="">
                     <div class="box-container">
                        <div class="box-container">
                           <img src="img/img.jpg" alt="">
                           <h4>Main Corporate</h4>
                        </div>
                     </div>
                  </a>

               </div>

               <button class="btn get-start">get start</button>
            </section>

            <section class="dark-dimention">
               <div class="text-content">
                  <h1>Practical Inner pages for everything you may need</h1>
               </div>
               <div class="set-card">
                  <div class="swiper ">
                     <a href="" class="card">
                        <div class="">
                           <img src="img/img3.jpg" alt="">
                           <h3>Servives V.1</h3>
                        </div>
                     </a>
                     <a href="" class="card">
                        <div class="">
                           <img src="img/img3.jpg" alt="">
                           <h3>Servives V.1</h3>
                        </div>
                     </a>
                     <a href="" class="card">
                        <div class="">
                           <img src="img/img3.jpg" alt="">
                           <h3>Servives V.1</h3>
                        </div>
                     </a>
                     <a href="" class="card">
                        <div class="">
                           <img src="img/img3.jpg" alt="">
                           <h3>Servives V.1</h3>
                        </div>
                     </a>
                     <a href="" class="card">
                        <div class="">
                           <img src="img/img3.jpg" alt="">
                           <h3>Servives V.1</h3>
                        </div>
                     </a>
                     <a href="" class="card">
                        <div class="">
                           <img src="img/img3.jpg" alt="">
                           <h3>Servives V.1</h3>
                        </div>
                     </a>
                     <a href="" class="card">
                        <div class="">
                           <img src="img/img3.jpg" alt="">
                           <h3>Servives V.1</h3>
                        </div>
                     </a>
                  </div>
                  <div class="slide-btn">
                     <button class="btn btn-slide" id="prev">
                        <i></i>
                     </button>
                     <button class="btn btn-slide" id="next">
                        <i></i>
                     </button>
                  </div>
               </div>
            </section>

         </div>
      </main>
   </div>

   <script src="js/index.js"></script>
</body>

</html>